<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuuli.dao.ClassDao">

    <select id="selectListPage" resultType="com.tuuli.vo.ClassVo">
        select class.id, class.cl_name className, count(student.id) stuCount, college.col_name college
        from tb_class class
                 left join tb_college college on class.college_id = college.id
                 left join tb_student student on class.id = student.class_id
            ${ew.customSqlSegment}
        group by class.id, college.id
    </select>
</mapper>
