<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuuli.dao.CourseDao">

    <select id="getAllCourse" resultType="com.tuuli.vo.CollegeAndClassAndCourseVo">
        select distinct course.id, course.course_name name
        from tb_course course
                 join tb_CC cc on course.id = cc.course_id
            ${ew.customSqlSegment}
    </select>
    <select id="getCoursePage" resultType="com.tuuli.vo.CourseVo">
        SELECT course.id, course.course_name, GROUP_CONCAT(class.cl_name) AS classListStr, COUNT(class.id) AS classCount
        FROM tb_course course
                 LEFT JOIN tb_cc cc ON course.id = cc.course_id
                 LEFT JOIN tb_class class ON cc.class_id = class.id
            ${ew.customSqlSegment}
        GROUP BY course.course_name

    </select>
    <select id="getCoursePageCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM (SELECT course.id, course.course_name, GROUP_CONCAT(class.cl_name) AS classListStr, COUNT(class.id) AS classCount
              FROM tb_course course
                       LEFT JOIN tb_cc cc ON course.id = cc.course_id
                       LEFT JOIN tb_class class ON cc.class_id = class.id
                  ${ew.customSqlSegment}
              GROUP BY course.course_name) as ccc
    </select>
</mapper>
