<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuuli.dao.StudentDao">
    <select id="selectListPage" resultType="com.tuuli.vo.StudentVo">
        select student.id       as id,
               student.stu_num  as num,
               student.stu_name as name,
               student.gender   as gender,
               class.cl_name    as className,
               college.col_name as college
        from tb_student student
                 left join tb_class class on student.class_id = class.id
                 left join tb_college college on class.college_id = college.id
            ${ew.customSqlSegment}
    </select>

    <select id="selectListPageCount" resultType="java.lang.Integer">
        select count(*)
        from tb_student student
                 left join tb_class class on student.class_id = class.id
                 left join tb_college college on class.college_id = college.id
            ${ew.customSqlSegment}
    </select>

    <select id="getListCallPage" resultType="com.tuuli.vo.CallNameVo">
        SELECT student.id,
               student.stu_num  num,
               student.stu_name name,
               student.gender,
               class.cl_name    className,
               college.col_name college,
               record.status
        FROM tb_student student
                 JOIN tb_class class ON student.class_id = class.id
                 JOIN tb_college college ON class.college_id = college.id
                 JOIN tb_cc cc ON cc.class_id = class.id
                 JOIN tb_course course ON course.id = cc.course_id
                 LEFT JOIN tb_record record ON student.id = record.stu_id AND record.course_id = course.id
            ${ew.customSqlSegment}
    </select>

    <select id="getListCallPageCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM tb_student student
                 JOIN tb_class class ON student.class_id = class.id
                 JOIN tb_college college ON class.college_id = college.id
                 JOIN tb_cc cc ON cc.class_id = class.id
                 JOIN tb_course course ON course.id = cc.course_id
                 LEFT JOIN tb_record record ON student.id = record.stu_id AND record.course_id = course.id
            ${ew.customSqlSegment}
    </select>

    <select id="getRandomStuList" resultType="com.tuuli.vo.CallNameVo">
        SELECT student.id, student.stu_num num, student.stu_name name
        FROM tb_student student
                 JOIN tb_class class ON student.class_id = class.id
                 JOIN tb_cc cc ON class.id = cc.class_id
                 JOIN tb_course course ON cc.course_id = course.id
            ${ew.customSqlSegment}
        ORDER BY RAND()
        LIMIT 20
    </select>


</mapper>
